<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, Janczi Buisan</h1>
		<p>Welcome to My blog app</p>
		<p>Free to use it </p>
		<p>Message Me at Facebook <a href="http://twitter.com/mackenziechild">@JanzKun </a> or on messenger <a href="http://mackenziechild.me">@JanzKunMessenger</a> 
	</div>
</div>