<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I am Janczi Buisan / JanzKun</h1>
		<p>Welcome to My blog app</p>
		<p>Feel Free to use it </p>
		<p>Message Me at Facebook <a href="https://www.facebook.com/admiraljanczi?ref=bookmarks">@JanzKun </a> or on messenger <a href="https://www.messenger.com/t/admiraljanczi">@JanzKunMessenger</a> 
	</div>
</div>